instance
.idea/
.DS_Store
.cache/
/build/*

*.pyc
*.egg-info
wordinfo.db

testing_default.cfg

*.ipynb_checkpoints*
*.ipynb
*.pytest_cache

*.log
activate_zeeguu.sh

.in
*.csv
*.png
src/

*flask_monitoringdashboard.db*

