jieba3k
lxml
Pillow
pytest
flask
SQLAlchemy==1.3.20
Flask-SQLAlchemy
mysqlclient
regex
feedparser
requests
newspaper3k==0.2.7
Faker
requests_mock
nltk
langdetect
sortedcontainers
elasticsearch
pyphen
numpy
wordstats
pytest
deprecated
